.room-code {
  margin-left: 5px;
  height: 35px;
  border-radius: 5px;
  overflow: hidden;

  background: #fff;
  border: 1px solid #835afd;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    background: #835afd;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      //margin-top: 8px;
      height: 35px;
    }
  }

  span {
    display: block;
    align-self: center;
    flex: 1;
    padding: 0 16px 0 12px; //1st top, 2st right, 3st botton, 4st left
    width: 230px;
    font-size: 13px;
    font-weight: 400;
  }
}
